.header-wrap{
    background-color: #000000;
    font-size: 12px;
    .left{
        input{
            width: 220px;
            height: 30px;
            font-size: 13px;
            background-color: rgba($color: #ffffff, $alpha: 0.3);
            color: white;
            outline: none;
            border: none;
        }
        img{
            width: 40px;
        }
    }
}
.profile-drop-img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}