<div class="w-100 p-2 d-flex justify-content-between header-wrap">
    <div class="left d-flex justify-content-between align-items-center">
        <img class="ml-3 mr-2" src="assets/git-icon.png" alt="logo">
        <input type="text" class="form-control mr-3" id="exampleInputEmail1" placeholder="Search or jump to..." >
        <p class="m-0 text-white mr-2 font-weight-bold">Pull requests</p>
        <p class="m-0 text-white mr-2 font-weight-bold">Issues</p>
        <p class="m-0 text-white mr-2 font-weight-bold">Marketplace</p>
        <p class="m-0 text-white mr-2 font-weight-bold">Explore</p>
    </div>
    <div class="right d-flex justify-content-end align-items-center" >
        <i class="fa fa-bell-o text-white mr-2" aria-hidden="true"></i>
        <div class="dropdown mr-2">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
              +
            </button>
            <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div> -->
          </div>

          <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
              <img [src]="currentUser.avatar_url" alt="profile img" class="profile-drop-img">
            </button>
            <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div> -->
          </div>
    </div>
</div>
