.wrap{
    position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #ffffff !important;
  z-index: 1;
    .nav-section{
        font-size: 14px;
        .nav-item{
            .nav-img{
                width: 20px;
            }
            .repocount-wrap{
                display: inline;
                padding: 3px 9px;
                font-size: 11px;
                border-radius: 32%;
                background-color: #d1d5da;
            }
            &:hover{
                border-bottom: solid 3px grey;
            }
        }
        .selected-nav{
            border-bottom: solid 3px #f9826c !important;
        }
       
    }
    hr{
        width: 100%;
        margin-top: 0px;
    }
}
