<app-header></app-header>

<div class="w-100 row mt-3 pt-2 wrap">
    <div class="col-md-3 border-top user-prof" style="margin-top: 42px;">
        <app-user-profile></app-user-profile>
    </div>
    <div class="col-md-9 nav-section">
        <div class="row border-bottom">
            <div class="nav-item col-3 col-md-2" [ngClass]="{'selected-nav font-weight-bold': selectedTab === 0}" (click)="selectedTab = 0">
                <p class="m-0 pb-3 " >
                <img class="nav-img mr-1" src="/assets/overview.png" alt="" *ngIf="selectedTab === 0">
                <img class="nav-img mr-1" src="/assets/overview-g.png" alt="" *ngIf="selectedTab !== 0">
                    Overview</p>
            </div>
            <div class="nav-item col-3 col-md-2" [ngClass]="{'selected-nav font-weight-bold': selectedTab === 1}" (click)="selectedTab = 1">
                
                <p class="m-0 pb-3 d-flex" >
                    <img class="nav-img mr-1" src="/assets/repo.png" alt="" *ngIf="selectedTab === 1">
                    <img class="nav-img mr-1" src="/assets/repo-g.png" alt="" *ngIf="selectedTab !== 1">Repositories
                    <span class="repocount-wrap ml-1">{{repoCount}}</span>
                </p>
            </div>
            <div class="nav-item col-3 col-md-2" [ngClass]="{'selected-nav font-weight-bold': selectedTab === 2}" (click)="selectedTab = 2">
                
                <p class="m-0 pb-3 " >
                    <img class="nav-img mr-1" src="/assets/project.png" alt="" *ngIf="selectedTab === 2">
                    <img class="nav-img mr-1" src="/assets/project-g.png" alt="" *ngIf="selectedTab !== 2">Projects</p>
            </div>
            <div class="nav-item col-3 col-md-2" [ngClass]="{'selected-nav font-weight-bold': selectedTab === 3}" (click)="selectedTab = 3">
               
                <p class="m-0 pb-3 " >
                    <img class="nav-img mr-1" src="/assets/packages.png" alt="" *ngIf="selectedTab === 3">
                    <img class="nav-img mr-1" src="/assets/packages-g.png" alt="" *ngIf="selectedTab !== 3">Packages</p>
            </div>
        </div>
        <div class="pt-4">
            <app-contibutions *ngIf="selectedTab === 0"></app-contibutions>
            <p *ngIf="selectedTab === 1">Repositories Tab</p>
            <p *ngIf="selectedTab === 2">Projects Tab</p>
            <p *ngIf="selectedTab === 3">Packages Tab</p>
        </div>
        
        
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-3 m-0">
        <app-user-profile></app-user-profile>
    </div>
    <div class="col-md-9 m-0">
        <app-contibutions *ngIf="selectedTab === 0"></app-contibutions>
        <p *ngIf="selectedTab === 1">Repositories Tab</p>
        <p *ngIf="selectedTab === 2">Projects Tab</p>
        <p *ngIf="selectedTab === 3">Packages Tab</p>
    </div>
</div> -->
<!-- <app-footer></app-footer> -->