.wrap{
    .repo-column{
        .repository-wrap{
            border-radius: 4px;
            height: 150px;
            .nreponame{
                font-size: 15px;
            }
            .description{
                font-size: 13px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }
        }
    }
}