.wrap{
    background-color: #000000;
    height: 100%;
    .fetch-btn{
        background-color: rgba($color: #ffffff, $alpha: 0.4);
        color: #ffffff;
        border: none;
        outline: none;
    }
}

@media only screen and (max-width: 780px) {
    .wrap{
        div{
            flex-direction: column !important;
            width: 50% !important;
            input{

            }
            .fetch-btn{
                width: 100%;
    margin-left: 0px !important;
    margin-top: 15px
            }
        }
        
    }
}