.wrap{
    background-color: #000000;
    height: 100%;
    .fetch-btn{
        background-color: rgba($color: #ffffff, $alpha: 0.4);
        color: #ffffff;
        border: none;
        outline: none;
    }
}